[submodule "datastore-backend"]
	path = datastore-backend
	url = https://github.com/ankit-work-agarwal/datastore-backend
[submodule "datastore-frontend"]
	path = datastore-frontend
	url = https://github.com/ankit-work-agarwal/datastore-frontend.git
[submodule "datastore-mobile"]
	path = datastore-mobile
	url = https://github.com/ankit-work-agarwal/datastore-mobile.git
